@CHARSET "UTF-8";
/** FOOTER ******************************************/
/* topmargin="2" */
.colorTable         { background-color : #484848 }
.colorLink			{ font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
					  font-weight: Bold; color : White }
.colorStato			{ font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
					  font-weight: Bold; color : #ffffcc }
.white   			{ font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
					  font-weight: Bold; color : White }
.colorTdCenter      { background: #339966; text-align: Center }
.colorTdLeft        { background: #339966; text-align: Left }
.colorProfilo       { font-family:Arial, Helvetica, Comic Sans MS; font-size:11px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #a0efa5; text-decoration : none;}
.link               { text-decoration : none;}
/** PROFILO *****************************************/
.profyle            { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Center; 
                      color:White; background: #339966 }
/****************************************************/
.verdeCenter3       { font-family:Arial, Helvetica, Comic Sans MS; font-size:16px; 
                      font-weight: Bold; text-align: Center; 
                      color:White; background: #339966 }
.verdeLeft3         { font-family:Arial, Helvetica, Comic Sans MS; font-size:16px; 
                      font-weight: Bold; text-align: Left; 
                      color:White; background: #339966 }
.verdeRight3        { font-family:Arial, Helvetica, Comic Sans MS; font-size:16px; 
                      font-weight: Bold; text-align: Right; 
                      color:White; background: #339966 }
.verdeCenter2       { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Center; 
                      color:White; background: #339966 }
.verdeLeft2         { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Left; 
                      color:White; background: #339966 }
.verdeRight2        { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Right; 
                      color:White; background: #339966 }
.verdeCenter1       { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Center; 
                      color:White; background: #339966 }
					  
.verdeLeft1        { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Left; 
                      color:White; background: #339966 }
.verdeRight1        { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Right; 
                      color:White; background: #339966 }
/****************************************************/
.verdinoCenter2     { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #a0efa5 }
.verdinoLeft2       { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Left; 
                      color:Black; background: #a0efa5 }
.verdinoRight2      { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Right; 
                      color:Black; background: #a0efa5 }
.verdinoCenter1     { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #a0efa5 }
.verdinoLeft1       { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Left; 
                      color:Black; background: #a0efa5 }
.verdinoRight1      { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Right; 
                      color:Black; background: #a0efa5 }
/****************************************************/                      
.commLeft1          { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Left; 
                      color:Navy; background: #eeeeee }
.grigioCenter1      { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #eeeeee }
.grigioCenter1b      { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px;  
                      text-align: Center; 
                      color:Black; background: #eeeeee }
.grigioCenter2      { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #eeeeee }
.grigioCenter2B     { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px;  
                      text-align: Center; 
                      color:Black; background: #eeeeee }
.grigioCenter3      { font-family:Arial, Helvetica, Comic Sans MS; font-size:16px; 
                      font-weight: Bold; text-align: Center; 
                      color:Black; background: #eeeeee }					  
.grigioLeft2        { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Left; 
                      color:Black; background: #eeeeee }
.grigioRight2       { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Right; 
                      color:Black; background: #eeeeee }
.grigioRight1	    { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px; 
                       text-align: Right; 
                      color:Black; background: #eeeeee }
.grigioLeft1        { font-family:Arial, Helvetica, Comic Sans MS; font-size:13px;  
                      text-align: Left; 
                      color:Black; background: #eeeeee }
.grigioLeft3        { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px;  
                      font-weight: Bold; text-align: Left; 
                      color:Black; background: #eeeeee }
.IeN  			    { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Center; 
                      color:Blue }
/****************************************************/
.marroneCenter1     { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Center; 
                      color:White; background: #6e6e6e }
.marroneLeft1       { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Left; 
                      color:white; background: #6E6E6e }
.marroneRight1      { font-family:Arial, Helvetica, Comic Sans MS; font-size:10px; 
                      font-weight: Bold; text-align: Right; 
                      color:white; background: #6E6E6e }
/****************************************************/
.filtriRight2      { font-family:Verdana, Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Right; 
                      color:Blue }
.filtriLeft3      { font-family:Verdana, Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Left; 
                      color:Blue }
					  
.filtriCenter2      { font-family:Verdana, Arial, Helvetica, Comic Sans MS; font-size:13px; 
                      font-weight: Bold; text-align: Center; 
                      color:Blue }
/****************************************************/
.logo 				{ font-family : serif; font-size : 11px; text-align: Center;
					  font-weight : Bold; 
					  color : #009966 }
.text 				{ font-family : Sans-serif; font-size : 13px; 
					  color : #000000 }
.link 				{ font-family : Sans-serif; font-size : 13px; 
					  font-weight : Bold; text-decoration : Underline;
					  color : #009966 }
.logoL				{ font-family : Verdana; font-size : 13px; 
					  font-weight : Bold; color : Navy }
/*****************************************************/
.graficoStatistiche	{ font-family:Arial, Helvetica, Comic Sans MS; font-size:10px;  
                      text-align: Left; line-height: 6px; 
                      margin:0px; padding-bottom:5px; padding-left:5px; vertical-align:middle;
                      color:Black}	
.statistiche		{margin:0px; padding:0px; vertical-align:middle}